.loginParent {
    border-radius: 10px;
    border:3px solid #0d6efd;
    box-shadow:0px 8px 16px 0 rgb(0 0 0/30%);
    width:400px;
    min-height: 200px;
    height: auto;
    margin: 100px auto; 
    background-color: #fff;
}

.inputfields{
    padding: 10px 40px 30px 40px;
}

.divhead{ 
    background-color: #0d6efd; 
    color: #ffffff; 
    font-size: 20px; 
    font-weight: bold; 
    padding: 10px; 
    border-radius: 3px 3px 0px 0px;
    display: block; 
    width: 100%; 
    text-align: center; 
    text-decoration: underline;
}

.input{ text-align:center;}

.input.final{ text-align:center; margin-top:10px;}

.input i { font-size: 25px;
color: #0d6efd;}

.inputbox {
    height: 35px;
    width: 250px;
    margin: 10px 10px 0px 7px;
    border-radius: 5px;
    padding-left: 10px;
    border:1.5px solid #0d6efd;
    color: #333;
    opacity: 0.9;
}

.error{
    color:red;
    font-size: 12px;
    display: block;
    text-align: center;
}

.headerText{
    font-size: larger;
    font-weight: 600;
    margin: 10px;
    padding: 10px;
    position: relative;
    top: 5px;
}

.formHeader{
    display: grid;
    text-align: center;
    text-decoration: underline;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bold;
    color: #146c43;
}

.btn:disabled {
    border: #000;
    background-color: #ccc!important;
    color: #000;
}