<nav class="navbar" style="background-color: #3988ffab;">
    <div class="container-fluid">
        <div class="col-md-6">      
        <a class="navbar-brand" href="#">
        <img src="https://www.iffcotokio.co.in/content/dam/iffcotokio/iffco-images/iffco-tokio-logo-english.svg" alt="Logo" width="100" height="50" class="d-inline-block align-text-top">
        Search KYC
      </a>
    </div>
      <div class="col-md-6" style="text-align: right;">
      <button type="button" class="btn btn-primary" (click)="goToCreate()">Create KYC</button>
      <button type="button" class="btn btn-danger"  (click)="Logout()">Logout</button>
    </div>
    </div>
  </nav>
<form #searchForm="ngForm">
    <div class="searchParent">
        <div class="input">
            <span>Client Type </span>
            <select id="clientType" [(ngModel)]="search.clientType" name="clientType" required #clientType="ngModel">
                <option value="IND">Indivdual</option>
                <option value="LE">Legal/Corporate Entity</option>
            </select>
            <br />
            <small class="error" *ngIf="clientType.touched && clientType.invalid">Select A Client Type</small>
        </div>
        <div class="input">
            <span>First Name </span>
            <input type="text" [(ngModel)]="search.firstName" minlength="2" name="firstName" required #firstName="ngModel"/>
            <br />
            <small class="error" *ngIf="firstName.touched && firstName.invalid">Invalid First Name</small>
        </div>
        <div class="input" *ngIf="search.clientType == 'IND'">
            <span >Middle Name </span>
            <input  type="text" [(ngModel)]="search.middleName" minlength="1" name="middleName" #middleName="ngModel"/>
            <br />
            <small class="error" *ngIf="middleName.invalid">Invalid Middle Name</small>
        </div>
        <div class="input" *ngIf="search.clientType == 'IND'">
            <span>Last Name </span>
            <input type="text" [(ngModel)]="search.lastName" minlength="2" name="lastName" required #lastName="ngModel"/>
            <br />
            <small class="error" *ngIf="lastName.touched && lastName.invalid">Invalid Last Name</small>
        </div>
        <div class="input" *ngIf="search.clientType == 'IND'">
            <span>Gender </span>
            <select id="gender"[(ngModel)]="search.gender" name="gender" required #gender="ngModel">
                <option value="M">Male</option>
                <option value="F">Female</option>
                <option value="T">Others</option>
            </select>
            <br />
            <small class="error" *ngIf="gender.touched && gender.invalid">Select Gender</small>
        </div>
        <div class="input">
            <span>DOB </span>
            <input type="date" [(ngModel)]="search.dateofBirth" name="dateofBirth" max="2004-12-31" step="1" required #dateofBirth="ngModel"/>
            <br />
            <small class="error" *ngIf="dateofBirth.touched && dateofBirth.invalid">Select A Date Before 31/312/2004</small>
        </div>
        <div class="input">
            <span>idType </span>
            <select id="idType" [(ngModel)]="search.idType" name="idType" required #idType="ngModel">
                <option value="ITGI">ITGI UNIQUE IDENTIFIER</option>
                <option value="CKYC">CKYC IDENTIFIER</option>
                <option value="PAN">PAN</option>
                <option value="PASSPORT" *ngIf="search.clientType == 'IND'">PASSPORT</option>
                <option value="VOTERID" *ngIf="search.clientType == 'IND'">VOTER ID</option>
                <option value="DL" *ngIf="search.clientType == 'IND'">DRIVING LICENSE</option>
                <option value="AADHAR" *ngIf="search.clientType == 'IND'">AADHAR CARD NUMBER</option>
                <option value="NREGA" *ngIf="search.clientType == 'IND'">NREGA JOB CARD</option>
                <option value="NPRL" *ngIf="search.clientType == 'IND'">NATIONAL POPULATION REGISTER LETTER</option>
                <option value="RC" *ngIf="search.clientType == 'LE'">REGISTRATION CERTIFICATE</option>
                <option value="COI" *ngIf="search.clientType == 'LE'">CERTIFICATE OF INCORPORATION/FORMATION</option>
                <option value="GSTIN" *ngIf="search.clientType == 'LE'">GSTIN CERTIFICATE</option>
            </select>
            <br />
            <small class="error" *ngIf="idType.touched && idType.invalid">Select An ID Type</small>
        </div>
        <div class="input">
            <span>idNumber </span>
            <input type="text" [(ngModel)]="search.idNumber" name="idNumber" required #idNumber="ngModel" maxlength="20"/>
            <br />
            <small class="error" *ngIf="idNumber.touched && idNumber.invalid">Invalid ID Number</small>
        </div>
        <div class="input final">
        <button type="button" class="btn btn-success" (click)="fetch()" [disabled]=searchForm.invalid>Find/Search</button>
        </div>
    </div>
    </form>

<div *ngIf="display=='success'">
    Record Found!!!
    Client Type: {{result.clientType}}
    Prefix: {{result.prefix}}
    First Name: {{result.firstName}}
    Middle Name: {{result.middleName}}
    Last Name: {{result.lastName}}
    Gender: {{result.gender}}
    Date of Birth: {{result.dateofBirth}}
    Related Person Prefix: {{result.relatedPersonPrefix}}
    Related Person First Name: {{result.relatedPersonFirstName}}
    Related Person Middle Name: {{result.relatedPersonMiddleName}}
    Related Person Last Name: {{result.relatedPersonLastName}}
    Relationship Type: {{result.relationshipType}}
    Mobile Number: {{result.mobileNumber}}
    Email ID: {{result.emailAddress}}
    Address Line 1: {{result.addressLine1}}
    City: {{result.city}}
    District: {{result.district}}
    State: {{result.state}}
    Country: {{result.country}}
    Pincode: {{result.pinCode}}
    Correspondence Address Line 1: {{result.correspondenceAddressLine1}}
    Correspondence City: {{result.correspondenceCity}}
    Correspondence District: {{result.correspondenceDistrict}}
    Correspondence State: {{result.correspondenceState}}
    Correspondence Country: {{result.correspondenceCountry}}
    Correspondence Pin-Code: {{result.correspondencePinCode}}
    ID Type: {{result.idType}}
    ID Name: {{result.idName}}
    ID Number: {{result.idNumber}}
    ITGI Unique Reference ID: {{result.ITGI_UniqueIdentifier}}
</div>
