<nav class="navbar" style="background-color: #3988ffab; margin-bottom: 10px;">
    <div class="container-fluid">
        <div class="col-md-6">
      <a class="navbar-brand" href="https://www.iffcotokio.co.in/">
        <img src="https://www.iffcotokio.co.in/content/dam/iffcotokio/iffco-images/iffco-tokio-logo-english.svg" alt="Logo" width="100" height="50" class="d-inline-block align-text-top">
        <u class="headerText">Create KYC</u>
      </a>
    </div>
    <div class="col-md-6" style="text-align: right;">
      <button type="button" class="btn btn-primary" (click)="goToSearch()">Search KYC</button>
      <button type="button" class="btn btn-danger" (click)="Logout()">Logout</button>
    </div>
    </div>
  </nav>
<form #createForm="ngForm">
    <div class="alert alert-danger" role="alert" *ngIf="alert=='danger'">
        Invalid Input!
      </div>
    <div class="createParent">
        <span class="formHeader">Create KYC</span>
        <div class="input">
            <span class="text">Client Type </span>
            <select id="clientType" [(ngModel)]="create.clientType" name="clientType" class="inputbox" #clientType="ngModel" required>
                <option value="" disabled selected hidden>---Client Type---</option>
                <option value="IND">Individual</option>
                <option value="LE">Legal/Corporate Entity</option>
            </select>
            <br />
            <small class="error" *ngIf="clientType.touched && clientType.invalid">Select Client Type</small>
        </div>
        <div class="input" *ngIf="create.clientType=='IND'">
            <span class="text">Prefix </span>
            <select id="prefix" [(ngModel)]="create.prefix" name="prefix" class="inputbox" #prefix="ngModel" required>
                <option value="" disabled selected hidden>---Prefix---</option>
                <option value="MR">Mr.</option>
                <option value="MRS">Mrs.</option>
                <option value="DR">Dr.</option>
            </select>
            <br />
            <small class="error" *ngIf="prefix.touched && prefix.invalid">Select Prefix</small>
        </div>
        <div class="input">
            <span class="text">First Name </span>
            <input type="text" [(ngModel)]="create.firstName" placeholder="First Name" class="inputbox" minlength="2" name="firstName" #firstName="ngModel" required/>
            <br />
            <small class="error" *ngIf="firstName.touched && firstName.invalid">Enter First Name</small>
        </div>
        <div class="input" *ngIf="create.clientType=='IND'">
            <span class="text">Middle Name </span>
            <input type="text" [(ngModel)]="create.middleName" placeholder="Middle Name" minlength="1" class="inputbox" name="middleName" #middleName="ngModel"/>
        </div>
        <div class="input" *ngIf="create.clientType=='IND'">
            <span class="text">Last Name </span>
            <input type="text" [(ngModel)]="create.lastName" minlength="2" placeholder="Last Name" name="lastName" class="inputbox" #lastName="ngModel" required/>
            <br />
            <small class="error" *ngIf="lastName.touched && lastName.invalid">Enter Last Name</small>
        </div>
        <div class="input" *ngIf="create.clientType=='IND'">
            <span class="text">Gender </span>
            <select id="gender" [(ngModel)]="create.gender" name="gender" class="inputbox" #gender="ngModel" required>
                <option value="" disabled selected hidden>---Gender---</option>
                <option value="M">Male</option>
                <option value="F">Female</option>
                <option value="T">Others</option>
            </select>
            <br />
            <small class="error" *ngIf="gender.touched && gender.invalid">Select Gender</small>
        </div>
        <div class="input">
            <span class="text">Date Of Birth </span>
            <input type="date" [(ngModel)]="create.dateofBirth" placeholder="Date Of Birth" max="2004-12-31" step="1" class="inputbox" name="dateofBirth" #dateofBirth="ngModel" required/>
            <br />
            <small class="error" *ngIf="dateofBirth.touched && dateofBirth.invalid">Select A Date Before 31/12/2004</small>
        </div>
        <div class="input" *ngIf="create.clientType=='IND'">
            <span class="text">Related Person Prefix </span>
            <select id="relatedPersonPrefix" [(ngModel)]="create.relatedPersonPrefix" name="relatedPersonPrefix" class="inputbox" #relatedPersonPrefix="ngModel" required>
                <option value="" disabled selected hidden>---Prefix---</option>
                <option value="MR">Mr.</option>
                <option value="MRS">Mrs.</option>
                <option value="DR">Dr.</option>
            </select>
            <br />
            <small class="error" *ngIf="relatedPersonPrefix.touched && relatedPersonPrefix.invalid">Select A Prefix For Related Person</small>
        </div>
        <div class="input" *ngIf="create.clientType=='IND'">
            <span class="text">Related Person First Name </span>
            <input type="text" [(ngModel)]="create.relatedPersonFirstName" placeholder="First Name" name="relatedPersonFirstName" class="inputbox" #relatedPersonFirstName="ngModel" required/>
            <br />
            <small class="error" *ngIf="relatedPersonFirstName.touched && relatedPersonFirstName.invalid">Enter Related Person's First Name</small>
        </div>
        <div class="input" *ngIf="create.clientType=='IND'">
            <span class="text">Related Person Middle Name </span>
            <input type="text" [(ngModel)]="create.relatedPersonMiddleName" placeholder="Middle Name" name="relatedPersonMiddleName" class="inputbox" #relatedPersonMiddleName="ngModel"/>
        </div>
        <div class="input" *ngIf="create.clientType=='IND'">
            <span class="text">Related Person Last Name </span>
            <input type="text" [(ngModel)]="create.relatedPersonLastName" placeholder="Last Name" name="relatedPersonLastName" class="inputbox" #relatedPersonLastName="ngModel" required/>
            <br />
            <small class="error" *ngIf="relatedPersonLastName.touched && relatedPersonLastName.invalid">Enter Related Person's Last Name</small>
        </div>
        <div class="input" *ngIf="create.clientType=='IND'">
            <span class="text">Relationship Type </span>
            <select id="relationshipType" [(ngModel)]="create.relationshipType" name="relationshipType" class="inputbox" #relationshipType="ngModel" required>
                <option value="" disabled selected hidden>---Relationship Type---</option>
                <option value="Father">Father</option>
                <option value="Spouse">Spouse</option>
                <option value="Mother">Mother</option>
            </select>
            <br />
            <small class="error" *ngIf="relationshipType.touched && relationshipType.invalid">Select Realationship Type With Related Person</small>
        </div>
        <div class="input">
        <span class="text">Mobile Number </span>
        <input type="tel" [(ngModel)]="create.mobileNumber" placeholder="Mobile Number" name="mobileNumber" class="inputbox" pattern="[0-9]{10}" #mobileNumber="ngModel" required/>
        <br />
            <small class="error" *ngIf="mobileNumber.touched && mobileNumber.invalid">Enter 10-Digit Mobile Number</small>
        </div>
        <div class="input">
        <span class="text">Email Address </span>
        <input type="email" [(ngModel)]="create.emailAddress" placeholder="E-Mail Address" pattern=".+@.+\..+" class="inputbox" name="emailAddress" #emailAddress="ngModel" required/>
        <br />
        <small class="error" *ngIf="emailAddress.touched && emailAddress.invalid">Enter Valid E-Mail Address</small>
        </div>
        <div class="input">
        <span class="text">Address</span>
        <input type="text" [(ngModel)]="create.addressLine1" placeholder="Address" name="addressLine1" class="inputbox" #addressLine1="ngModel" required/>
        <br />
        <small class="error" *ngIf="addressLine1.touched && addressLine1.invalid">Enter Adress</small>
        </div>
        <div class="input">
        <span class="text">City</span>
        <input type="text" [(ngModel)]="create.city" name="city" placeholder="City" class="inputbox" #city="ngModel" required/>
        <br />
        <small class="error" *ngIf="city.touched && city.invalid">Enter City</small>
        </div>
        <div class="input">
        <span class="text">District</span>
        <input type="text" [(ngModel)]="create.district" name="district" placeholder="District" class="inputbox" #district="ngModel" required/>
        <br />
        <small class="error" *ngIf="district.touched && district.invalid">Enter District</small>
        </div>
        <div class="input">
        <span class="text">State</span>
        <input type="text" [(ngModel)]="create.state" name="state" placeholder="State" class="inputbox" #state="ngModel" required/>
        <br />
        <small class="error" *ngIf="state.touched && state.invalid">Enter State</small>
        </div>
        <div class="input">
        <span class="text">Country</span>
        <input type="text" [(ngModel)]="create.country" name="country" placeholder="Country" class="inputbox" #country="ngModel"required/>
        <br />
        <small class="error" *ngIf="country.touched && country.invalid">Enter Country</small>
        </div>
        <div class="input">
        <span class="text">Pin Code</span>
        <input type="tel" [(ngModel)]="create.pinCode" name="pinCode" placeholder="Pin Code" pattern="[0-9]{6}" class="inputbox" #pinCode="ngModel" required/>
        <br />
        <small class="error" *ngIf="pinCode.touched && pinCode.invalid">Enter Valid Pin-Code</small>
        </div>
        <div class="input">
        <span class="text">Correspondence Address</span>
        <input type="text" [(ngModel)]="create.correspondenceAddressLine1" placeholder="Address" name="correspondenceAddressLine1" class="inputbox" #correspondenceAddressLine1="ngModel" required/>
        <br />
        <small class="error" *ngIf="correspondenceAddressLine1.touched && correspondenceAddressLine1.invalid">Enter  Address</small>
        </div>
        <div class="input">
        <span class="text">Correspondence City</span>
        <input type="text" [(ngModel)]="create.correspondenceCity" name="correspondenceCity" placeholder="City" class="inputbox" #correspondenceCity="ngModel" required/>
        <br />
        <small class="error" *ngIf="correspondenceCity.touched && correspondenceCity.invalid">Enter Correspondence City</small>
        </div>
        <div class="input">
        <span class="text">Correspondence District</span>
        <input type="text" [(ngModel)]="create.correspondenceDistrict" name="correspondenceDistrict" placeholder="District" class="inputbox" #correspondenceDistrict="ngModel" required/>
        <br />
        <small class="error" *ngIf="correspondenceDistrict.touched && correspondenceDistrict.invalid">Enter Correspondence District</small>
        </div>
        <div class="input">
        <span class="text">Correspondence State</span>
        <input type="text" [(ngModel)]="create.correspondenceState" name="correspondenceState" placeholder="State" class="inputbox" #correspondenceState="ngModel" required/>
        <br />
        <small class="error" *ngIf="correspondenceState.touched && correspondenceState.invalid">Enter Correspondence State</small>
        </div>
        <div class="input">
        <span class="text">Correspondence Country</span>
        <input type="text" [(ngModel)]="create.correspondenceCountry" name="correspondenceCountry" placeholder="Country" class="inputbox" #correspondenceCountry="ngModel" required/>
        <br />
        <small class="error" *ngIf="correspondenceCountry.touched && correspondenceCountry.invalid">Enter Correspondence Country</small>
        </div>
        <div class="input">
        <span class="text">Correspondence Pin Code</span>
        <input type="tel" [(ngModel)]="create.correspondencePinCode" pattern="[0-9]{6}" placeholder="Pin Code" name="correspondencePinCode" class="inputbox" #correspondencePinCode="ngModel" required/>
        <br />
        <small class="error" *ngIf="correspondencePinCode.touched && correspondencePinCode.invalid">Enter Valid Correspondence Pin-Code</small>
        </div>
        <div class="input document">
            <div class="kycDocuments">
                <span class="text">Identity Proof</span>
                <div class="kycDocument1">
                    <span class="text">ID Name</span>
                    <select id="idName" [(ngModel)]="kycDocument1.idName" name="idName1" class="inputbox" #idName1="ngModel" required>
                        <option value="" disabled selected hidden>---ID Name---</option>
                        <option value="PAN">PAN</option>
                        <option value="FORM60">FORM 60</option>
                    </select>
                    <br />
                    <small class="error" *ngIf="idName1.touched && idName1.invalid">Select ID Name</small>
                </div>
                <div class="kycDocument1">
                    <span class="text">ID Number</span>
                    <input type="text" [(ngModel)]="kycDocument1.idNumber" placeholder="ID Number" name="idNumber1" class="inputbox" #idNumber1="ngModel" required/>
                    <br />
                    <small class="error" *ngIf="idNumber1.touched && idNumber1.invalid">Enter ID Number</small>
                </div>
                <input type="file" (change)="getFileDetails1($event)" class="inputbox" accept=".pdf,.jpg,.jpeg,.tif,.tiff" required>
            </div>
            <div class="kycDocuments">
                <span class="text">Address Proof</span>
                <div class="kycDocument2">
                    <span class="text">ID Name</span>
                    <select id="idName" [(ngModel)]="kycDocument2.idName" name="idName2" class="inputbox" #idName2="ngModel" required>
                        <option value="" disabled selected hidden>---ID Name---</option>
                        <option value="PASSPORT" *ngIf="create.clientType=='IND'">PASSPORT</option>
                        <option value="VOTERID" *ngIf="create.clientType=='IND'">VOTER ID</option>
                        <option value="DL" *ngIf="create.clientType=='IND'">DRIVING LICENSE</option>
                        <option value="AADHAR" *ngIf="create.clientType=='IND'">AADHAR CARD NUMBER</option>
                        <option value="NREGA" *ngIf="create.clientType=='IND'">NREGA JOB CARD</option>
                        <option value="NPRL" *ngIf="create.clientType=='IND'">NATIONAL POPULATION REGISTER LETTER</option>
                        <option value="RC" *ngIf="create.clientType=='LE'">REGISTRATION CERTIFICATE</option>
                        <option value="COI" *ngIf="create.clientType=='LE'">CERTIFICATE OF INCORPORATION/FORMATION</option>
                        <option value="GSTIN" *ngIf="create.clientType=='LE'">GSTIN CERTIFICATE</option>
                    </select>
                    <br />
                    <small class="error" *ngIf="idName2.touched && idName2.invalid">Select ID Name</small>
                </div>
                <div class="kycDocument2">
                    <span class="text">ID Number</span>
                    <input type="text" [(ngModel)]="kycDocument2.idNumber" placeholder="ID Number" class="inputbox" name="idNumber2" #idNumber2="ngModel" required/>
                    <br />
                    <small class="error" *ngIf="idNumber2.touched && idNumber2.invalid">Enter ID Number</small>
                </div>
                <input type="file" (change)="getFileDetails2($event)" class="inputbox" accept=".pdf,.jpg,.jpeg,.tif,.tiff" required>
            </div>
            <div class="kycDocuments" *ngIf="create.clientType=='IND'">
                <span class="text">Others</span>
                <div class="kycDocument3">
                    <span class="text">ID Name</span>
                    <select id="idName" [(ngModel)]="kycDocument3.idName" name="idName3" class="inputbox" #idName3="ngModel" required>
                        <option value="" disabled selected hidden>---ID Name---</option>
                        <option value="PHOTO" *ngIf="create.clientType=='IND'">PHOTOGRAPH</option>
                    </select>
                    <br />
                    <small class="error" *ngIf="idName3.touched && idName3.invalid">Select ID Name</small>
                </div>
                <div class="kycDocument3">
                    <span class="text">ID Number</span>
                    <input type="text" [(ngModel)]="kycDocument3.idNumber" placeholder="ID Number" class="inputbox" name="idNumber3" #idNumber3="ngModel" required/>
                    <br />
                    <small class="error" *ngIf="idNumber3.touched && idNumber3.invalid">Enter ID Number</small>
                </div>
                <input type="file" (change)="getFileDetails3($event)" class="inputbox" accept=".pdf,.jpg,.jpeg,.tif,.tiff" required>
            </div>
        </div>  
        <div class="input final">
        <button type="button" class="btn btn-success" (click)="new()" [disabled]="createForm.invalid">Create</button>
        </div>
    </div>
</form>

<div *ngIf="display=='success'">
    Record Found!!!
    Client Type: {{result.clientType}}
    Prefix: {{result.prefix}}
    First Name: {{result.firstName}}
    Middle Name: {{result.middleName}}
    Last Name: {{result.lastName}}
    Gender: {{result.gender}}
    Date of Birth: {{result.dateofBirth}}
    Related Person Prefix: {{result.relatedPersonPrefix}}
    Related Person First Name: {{result.relatedPersonFirstName}}
    Related Person Middle Name: {{result.relatedPersonMiddleName}}
    Related Person Last Name: {{result.relatedPersonLastName}}
    Relationship Type: {{result.relationshipType}}
    Mobile Number: {{result.mobileNumber}}
    Email ID: {{result.emailAddress}}
    Address Line 1: {{result.addressLine1}}
    City: {{result.city}}
    District: {{result.district}}
    State: {{result.state}}
    Country: {{result.country}}
    Pincode: {{result.pinCode}}
    Correspondence Address Line 1: {{result.correspondenceAddressLine1}}
    Correspondence City: {{result.correspondenceCity}}
    Correspondence District: {{result.correspondenceDistrict}}
    Correspondence State: {{result.correspondenceState}}
    Correspondence Country: {{result.correspondenceCountry}}
    Correspondence Pin-Code: {{result.correspondencePinCode}}
    ID Type: {{result.idType}}
    ID Name: {{result.idName}}
    ID Number: {{result.idNumber}}
    ITGI Unique Reference ID: {{result.ITGI_UniqueIdentifier}}
</div>

<div *ngIf="display=='created'">
    Record Created!!!
</div>